---
title: Events and Showcases
page_id: events
---
<h1 class="title">{{ page.title }}</h1>

<div class="events">
  {% assign events = site.events | sort: "start_date" | reverse %}
  {% for event in events %}
    <div class="events__item event">
      <div class="event__title">
        <a href="{{ event.url }}" class="link">{{ event.title }}</a>
      </div>

      <div class="event__date">
        {% if event.no_time and event.end_date %}
          <i class="fa fa-calendar-alt"></i>
          {{ event.start_date | date: "%a %b %-d, %Y"}} - {{ event.end_date | date: "%a %b %-d, %Y" }}
        {% elsif event.end_date %}
          <i class="fa fa-calendar-alt"></i>
          {{ event.start_date | date: "%a %b %-d, %Y, %-I:%M %p"}} - {{ event.end_date | date: "%a %b %-d, %Y, %-I:%M %p" }}
        {% endif %}
      </div>
      <div class="event__location">
        <i class="fa fa-map-marked-alt"></i>
        {{ event.location_name }} ( <a href="https://maps.google.com?q={{event.address}}" target="_blank" class="link">click for map</a> )
      </div>
      <div class="event__content">
        {{ event.content | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>