---
title: Gallery
page_id: gallery
---
<div class="title">
  {{ page.title }}
</div>

<div class="gallery">
  {% for item in site.gallery %}
    <div class="gallery__item art-piece">
      <div class="art-piece__image">
        <img src="/assets/images/gallery/{{ item.image }}" alt="{{ item.title }}" />
      </div>

      <div class="art-piece__title">{{ item.title }}</div>
      <div class="art-piece__info">
        <div class="art-piece__medium">{{ item.medium }}</div>
        <div class="art-piece__stock">
          {% if item.stock %}
            Availible
          {% else %}
            Sold
          {% endif %}
        </div>
        <div class="art-piece__size">{{ item.size }}</div>
      </div>
    </div>
  {% endfor %}

  <div class="gallery__info">
    Interested in one of these pieces? Send me an <a class="link" href="mailto:{{ site.data.social.email }}">email!</a>
  </div>
</div>
