---
title: Gallery
page_id: gallery
---
<div class="title">
  {{ page.title }}
</div>

<div class="container">
  {% for item in site.gallery %}
    <div class="item">
      <div class="frame">
        <img src="/assets/images/gallery/{{ item.image }}" alt="{{ item.title }}" />
      </div>
      <h2>{{ item.title }}</h2>
      <h3>{{ item.medium }}</h3>
      <h3>{% if item.stock %}Availible{% else %}Sold{% endif %} - Size {{ item.size }}</h3>
    </div> 
  {% endfor %}
</div>

<h2>Interested in one of these pieces? Send me an <a href="mailto:{{ site.data.social.email }}">email!</a></h2>

<div class="gallery">

</div>