<footer id="footer">
  <div class="social-media">
    <a class="social-media__link" href="{{ site.data.social.instagram }}"><i class="fab fa-instagram"></i></a>
    <a class="social-media__link" href="{{ site.data.social.youtube }}"><i class="fab fa-youtube"></i></a>
    <a class="social-media__link" href="{{ site.data.social.facebook }}"><i class="fab fa-facebook"></i></a>
    <a class="social-media__link" href="mailto:{{ site.data.social.email }}"><i class="fa fa-envelope"></i></a>
  </div>
</footer>
