@import 'modules/nav'
@import 'modules/bio'
@import 'modules/instagram'
@import 'modules/social-media'
@import 'modules/gallery'
@import 'modules/events'

.tagline 
    font-size: 2em
    text-align: center

.title 
    font-size: 1.5em
    margin-bottom: 1em
    text-align: center

%link 
    transition: all 0.3s

    &:hover
        color: $pink

.link
    @extend %link
    color: $secondary