// Chosen fonts from google
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300')
$body-font: 'Open Sans Condensed', sans-serif
$header-font: 'Amatic SC', cursive
    
// Brand colors
$green: #0f7d80
$pink: #fdd5d5
$secondary: #7d3654
$yellow: #fff3e1

// General 
$black: #505050
$white: #ffffff

// Alerts
$error: #dd3716
$inform: blue
$success: #16dd5c
$warn: yellow

// Responsive break
$break-small: 960px