.nav
    text-align: center
    padding: 1em

    @media screen and (min-width: $break-small)
        align-items: center
        display: flex
        justify-content: space-between
        padding: 1em 

    &__toggle
        display: block    
        position: absolute
        right: 1em
        top: 1em
        font-size: 1.5em

        @media screen and (min-width: $break-small)
            display: none

    &__logo
        width: calc(100% / 3)

        @media screen and (min-width: $break-small)
            width: 100px

    &__menu
        display: none

        &.active
            display: block

        @media screen and (min-width: $break-small)
            display: flex

    &__menu-item
        margin: 1em auto

        @media screen and (min-width: $break-small)
            margin: 1em

    &__menu-link
        @extend %link
        border-bottom: 3px solid transparent

        &:hover
            border-bottom-color: $pink